SimuladorBancario/.vscode/settings.json
SimuladorBancario/SimulacaoBancaria/.vscode/settings.json
VerificadorNumeroConta/.vscode/settings.json
VerificadorNumeroConta/src/VerificadorNumeroConta.class
SimuladorBancario/SimulacaoBancaria/src/SimulacaoBancaria.class
SimuladorBancario/SimulacaoBancaria/bin/SimulacaoBancaria.class
SimuladorBancario/SimulacaoBancaria/src/App.class
VerificadorNumeroConta/bin/VerificadorNumeroConta.class
VerificarChequeEspecial/VerificacaoChequeEspecial/.vscode/settings.json
VerificarChequeEspecial/VerificacaoChequeEspecial/bin/VerificarChequeEspecial.class
VerificarChequeEspecial/VerificacaoChequeEspecial/src/VerificarChequeEspecial.class
